body {
    width: 100%;
    height: 400px;
    background: url("../images/batman.jpg") repeat 0 0;
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

h2 {
    font-style: italic;
    color: honeydew;
    font-size: 1em;
    line-height: 10px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.challenge-one{
    position: fixed;
    left: 35%;
    top: 70%;
}

.challenge-two{
    padding-bottom: 30%;
}

.challenge-three{
    left: 33%;
}

.btn{
    display: block;
}